<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand text-white brand" href="/">ENVOY</a>
          </div>
    
          <button class="navbar-toggler float-right custom-toggler" type="button" data-toggle="collapse" data-target="#envoyNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="navbar-collapse collapse" id="envoyNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Orders</a> <%# about section, testing only to see orders  %> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>
</header>
<main class="container">