<%- include('partials/header'); -%> 

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Envoy!</h1>
    <p class="lead">Your ultimate shopping assitant</p>
</div>

<div>
    <h4>Shopping History</h4>
    
</div>

<%- include('partials/footer'); -%> 