.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #04053A;
    font-size: 16px;
	letter-spacing: 3.5px;
	color: #5243a6 ;
}

.navbar-nav  li a:hover {
    color: #FC820E;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,130,14)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}